.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
}

@media screen and (max-width: 991px) {
    .ProfileImage {
        height: 100px; /* Set height and width to the same value */
        width: 100px;  /* Maintain the aspect ratio */
    }
}
